@model Category

<form method="post" asp-action="Delete">
    <input asp-for="Id" hidden/>
    <div class="border p-3 mt-`4">
        <div class="rounded-end pb-2">
            <h2 class="text-primary">Delete Category</h2>
            <hr />
        </div>
<div class="mb-3">
            <lable asp-for="Name">Name</lable>
            <input asp-for="Name" disabled class="form-control" />
        </div><div class="mb-3">
            <lable asp-for="DisplayOrder">Display Order</lable>
            <input asp-for="DisplayOrder" disabled class="form-control" />
        </div><div class="mb-3">
            <lable asp-for="CreatedDateTime">Created DateTime</lable>
            <input asp-for="CreatedDateTime" disabled class="form-control" />
        </div>
          <button type="submit" class="btn btn-danger" style="width:150px">Delete</button>  
          <a asp-controller="Category" asp-action="Index" class="btn btn-secondary" style="width:150px">Back To List</a>  
            
        
    </div>

</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
        
    }
}